@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

body{
    height: 140rem;
    backdrop-filter: blur(4px);
}

:root{
    --fresh:#4ABDAC;
    --vermillion:#FC4A1A;
    --light-vermillion:#f85e33db;
    --sunshine:#F7B733;
    --light-sunshine:#ffb727be;
    --darksun:#fda900;
    --clean:#DFDCE3;
    --green:#27ae60;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 0.6rem 0.75rem rgba(0, 0, 0, 0.192);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    background-image: linear-gradient(rgba(255, 255, 255, 0.689),rgba(255, 255, 255, 0.607)),url(../image/brandi-redd-aJTiW00qqtI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

section{
    padding:5rem 9%;
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--sunshine);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--darksun);
}


#search-btn{
    display: none;
}

.header .header-2{
    background:var(--sunshine);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background:var(--darksun);
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}



.back-image{
    background-image: linear-gradient(rgba(255, 255, 255, 0.548),rgba(255, 255, 255, 0.548)) ,url(../image/book-7.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 50rem;
}

.back-image img{
    max-width:100% ;
    height: 48rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

.back-image img:hover{
    opacity: 0.85;
    transform: scale(1.01);
}




.bottom{

    height:max-content;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    
}

.auther-name{

    width: 25%;
    height:max-content ;
    align-items: center;
    justify-content: center;    
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.auther-name{
    background-color: #f8bc43be;
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.auther-name:hover{
    opacity: 0.95;
    transform: scale(1.0009);
    box-shadow: 0 0.6rem 0.8rem rgba(2, 2, 2, 0.627);
}


.auther-name h5{
    
    font-size: 15px;
    text-transform: capitalize;
    color:var(--black);
    text-align: center;
    text-shadow: 0.5px 0.5px 0.6px rgba(0, 0, 0, 0.416);
}

.auther-name h5 span{
    color: var(--vermillion);
}


.auther-name .stars i{
    font-size: 2rem;
    color:var(--vermillion);
    margin-bottom: 20px;
}


.auther-name h3{
    
    font-size: 2rem;
    text-transform: capitalize;
    color:var(--black);
    text-align: center;
    text-shadow: 1px 1.25px 1.75px rgba(0, 0, 0, 0.504);
}



.auther-name img{
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    height:8rem;
    width:8rem;
    border-radius: 50%;
    object-fit: cover;
}

.auther-name p{
    text-transform: lowercase;
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.25rem;
    margin-left: 5px;
    margin-right: 5px;
}

.reviews{
    width: 75%;
    justify-content: center;    
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background-color: #e9e9e9;
    font-family: system-ui;
    margin-left: 30px;
    border-radius: 6px;
}

.reviews h3{
    font-size: 2.5rem;
    text-shadow: 1px 1.25px 1.25px rgba(0, 0, 0, 0.315);
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.comment-box, .post-comment .list{
    background: #fff;
    border-radius: 0.75rem;
    box-shadow: var(--box-shadow);

}

.post-comment, .comment-box{
    margin-left: 32px;
    margin-right: 20px;
}

.post-comment .list{
    width: 100%;
    margin-bottom: 12px;
}

.post-comment .list:hover{
    opacity: 0.96;
    transform: scale(1.009);
}

.post-comment .list .user{
    display: flex;
    padding: 8px;
    padding-top: 4px;
    overflow: hidden;
}
.post-comment .list .user img{
    height: 32px;
    width: 32px;
    margin-right:10px ;
    border-radius: 50%;
}
.reviews .name{
    text-transform: capitalize;
    text-shadow: 1px 1.25px 1.25px rgba(0, 0, 0, 0.315);
    font-weight: 500;
}


.post-comment .post{
    padding: 0 0 15px 58px;
    font-weight: 500;
    color: var(--light-color);
    text-transform: lowercase;
}



/* Comment box */

.comment-box{
    padding: 10px;
    overflow: hidden;
}

.comment-box .user{
    display: flex;
    width: min-content;
    text-shadow: 1px 1.25px 1.25px rgba(0, 0, 0, 0.315);
}

.comment-box .image img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 50%;
}

.comment-box textarea{
    background-color: #eee;
    width: -webkit-fill-available;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    resize: inherit;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 0.5px #0003;
}

.comment-box textarea:focus-visible{
    box-shadow: inset 0 0 0 1px var(--light-vermillion);
    outline: none;
}

.comment-box .comment-submit{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--sunshine);
    font-size: 1.3rem;
    cursor: pointer;
    font-weight:500;
}

.comment-box button{
    float: right;
}
.comment-box .comment-submit:hover{
    background-color: var(--darksun);
    transform: scale(1.009);
}






.footer .share{
    margin-top: 20rem;
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--vermillion);
    margin:0 .3rem;
    border-radius: 50%; 
}

.footer .share a:hover{
    background:var(--sunshine);
}


.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--vermillion);
}








/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:flexbox;
    }
    
  

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}